@{
    ViewData["Title"] = "Approve Claims";
}
<h2>Approve Claims</h2>

<table class="table">
    <thead>
        <tr>
            <th>Claim ID</th>
            <th>Lecturer</th>
            <th>Month</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>102</td>
            <td>Prof. Green</td>
            <td>August 2025</td>
            <td>Verified</td>
            <td>
                <a href="/Manager/ViewClaimDetails/102" class="btn btn-info">View</a>
            </td>
        </tr>
    </tbody>
</table>